{% extends 'base.html' %}
{% block link_file %}
    <link rel="stylesheet" href="{{ url_for('static',filename="css/main.css")}}">
    <script src="{{url_for('static',filename = "js/finger1.js")}}"></script>

{% endblock %}
{% block header %}
    <div class="collapse navbar-collapse text-white" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">

            {% if session['uid'] == None %}
                <li class="nav-item">
                    <a class="nav-link text-white btn btn-success" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Home</a>
                </li>
            {% else %}

                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('.redirect_to_dash') }}">To Dash</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white btn btn-danger" href="{{ url_for('.logout') }}">Logout</a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
{% block content %}
   <div class="row">
       <div class="col-md-12 col-md-offset-5">
           <h1><b>Registration</b></h1>
           <div class="jumbotron">
               <div class="well">
           	      <form>
           	  	      <div class="form-group">
           	  		      <label for="Name">Aadhaar_No:</label>
                          <span>{{ User.aadhaar_no }}</span>
           	  		      <input type="text" class="form-control" disabled required>
           	  	      </div>

           	  	      <div class="form-group">
           	  		      <label for="Name">Sim_No:</label>
                          <span>{{ }}</span>
           	  		      <input type="text" class="form-control" required >
           	  	      </div>
           	  	      <div class="form-group">
           	  		      <label for="Name">Local_Service_Area:</label>
                          <span>{{ Sim.local_service_area }}</span>
           	  		      <input type="text" class="form-control" required >
           	  	      </div>
           	          <div class="btn-group">
           	  	        <input type="button" value="Register" button onclick=myFun() class="btn btn-primary">
           	  	          <p id="demo"></p>
           	  	     </div>
                  </form>

           </div>
        </div>    
    </div>
   </div>


{% endblock %}
