{% extends 'base.html' %}
{% block link_file %}
    <link rel="stylesheet" href="{{ url_for('static',filename="css/main1.css") }}">
    <script src="{{url_for('static',filename = 'js/finger.js')}}"></script>
{% endblock %}
{% block header %}
  <div class="navbar-text w-100 text-center">
    <h2 class="d-inline-block">Telecom Service Provider</h2>
  </div>
    <ul class="nav navbar-nav ml-auto">
        {% if session['uid']==None %}
            <li><a href="{{ url_for('logout') }}"><h2>Logout</h2></a></li>
        {% endif %}
    </ul>
{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="w-100 h-100 success">
                <div class="warning-box-wrapper"></div>
                <div class="warning-box bg-cherry-red-fade rounded alert p-0" role="alert">
                    <div class="warning-box-header bg-cherry-red text-white text-center pt-2 pb-2 rounded-top">
                        <h2><span class="fas fa-exclamation-circle"></span> Congratulations
                            <button type="button" class="close p-2 pr-3 text-white" data-dismiss="alert"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                        </h2>
                    </div>
                    <div class="container warning-box-body">
                        {% for message in messages %}
                            {{ message }}
                            <div class="warning-box-footer">
                                <button type="button" class="btn btn-primary float-right" data-toggle="modal"
                                        data-target="#myModal" id="success">
                                    Okay!
                                </button>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

    {% endwith %}

  <div class="col-lg-3"></div>
   <div class="col-lg-6">
       <div class="well well-lg jumb">
         <h3 class="loginf"><b><center>Verify here</center></b></h3>
          <form class="form-horizontal" name="form1" id="form1" method="post" action="{{ url_for('retailer.user_verify') }}">
              <div>
              <label class="control-label">Aadhaar No:</label>
               <input type="text" class="form-control" placeholder="Enter aadhar" name="aadhaar" required>
             </div>
             <div class="form-group">
               <label class="control-label">Fingerprint:</label><br><br>
             </div> 
             <div id="image">
              <center><img  src="{{ url_for('static',filename="assets/images/download.png") }}"  width="90" height="130" onclick="imga()" /></center>
            </div>


          </form>
       </div>
    </div>
{% endblock %}
