label
{
      font-size: 15px;
}
.navbar-custom {
    background-color:#551A8B;
    height: 80px;
}
.jumb{
      background-color:grey;
      margin-top:90px;
}
.loginf
{
      font-size: 25px;
      margin-top:0px;
}
h2
{
    color:white;
    text-align:center;
}